body {
  margin: 0;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid black;
  margin: 5px 0;
  padding: 5px 0;

}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

.logo img {
  margin: auto 10px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}

nav a {
  color: black;
}
